<ion-header>
    <ion-navbar class="white transparent">
        <ion-title>{{ 'MORE.more' | translate }}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
      <ion-list-header>
        {{ 'MORE.general' | translate }}
      </ion-list-header>

      <ion-item (click)="openProcesses()">
        <ion-icon name="md-search" item-start color="secondary"></ion-icon>
        <ion-label>{{ 'MORE.all-processes' | translate }}</ion-label>
      </ion-item>

      <ion-item (click)="showPicker()">
        <ion-icon name="md-globe" item-start></ion-icon>
        <ion-label>{{ 'MORE.change-language' | translate }}</ion-label>
      </ion-item>

        <!--<ion-item-group>-->
            <!--<ion-item>-->
                <!--<ion-icon name="md-chatboxes" item-start color="secondary"></ion-icon>-->
                <!--<ion-label>{{ 'MORE.ask-question' | translate }}</ion-label>-->
            <!--</ion-item>-->

            <!--<button ion-item>-->
                <!--<ion-icon name="md-bulb" item-start color="secondary"></ion-icon>-->
                <!--<ion-label>{{ 'MORE.propose-idea' | translate }}</ion-label>-->
            <!--</button>-->
        <!--</ion-item-group>-->

        <!--<ion-list-header>-->
            <!--{{ 'MORE.messages' | translate }}-->
        <!--</ion-list-header>-->


        <!--<ion-item>-->
            <!--<ion-icon name="md-notifications" item-start color="secondary"></ion-icon>-->
            <!--<ion-label>{{ 'MORE.receive-messages' | translate }}</ion-label>-->
            <!--<ion-toggle color="secondary"></ion-toggle>-->
        <!--</ion-item>-->



        <ion-list-header>
          {{ 'MORE.account' | translate }}
        </ion-list-header>

        <ion-item (click)="openProfile()">
            <ion-icon name="md-person" item-start color="secondary"></ion-icon>
             <ion-label>{{ 'MORE.show-profile' | translate }}</ion-label>
       </ion-item>

        <ion-item (click)="logout()">
            <ion-icon name="md-log-out" item-start color="secondary"></ion-icon>
            <ion-label>{{ 'MORE.logout' | translate }}</ion-label>
        </ion-item>

      <!--<app-language-popover></app-language-popover>-->

    </ion-list>
</ion-content>
