page-more {

  .toolbar-background{
    background: #f8f8f8 !important;
    border: none !important;
  }
  .toolbar{
    border: none !important;
  }

  ion-header .white .toolbar-title {
    color: #000000;
    font-weight: 400;
    font-size: 2.5rem;
  }

  .list-header-md{
    border-top: none;
  }

  ion-item-divider{
    margin-top: 2vh;
  }
}
