<ion-header>
    <ion-navbar class="white transparent">
        <ion-title>
          {{ 'ABOUT.title' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides autoplay="true" #slides *ngIf="this.poolCars.length > 0"  (ionSlideDidChange)="slideChanged()" loop="true">
    <ion-slide tappable *ngFor="let vehicle of this.poolCars; let i = index">
      <div class="headline-car-wrapper"  >
        <img class="headline-car" *ngIf="vehicle.image" src="{{ vehicle.image?.path }}" alt="">
        <img class="headline-car" *ngIf="!vehicle.image" style="max-height: 10vh;" src="./assets/imgs/car-default.png" alt="">

        <div class="headline-car-text">
          <h5>{{ vehicle.brand }} {{ vehicle.model }}</h5>
          <h6> {{ vehicle.license_plate }}</h6>
        </div>
      </div>

      <div class="dasboard-wrapper">
        <ion-grid class="prozess-list" >
          <ion-row>
            <ion-col>
              <ion-card class="info-card" (click)="presentModal('Fahrzeugschein',vehicle)">
                <ion-card-header>
                  <img class="card-img" src="./assets/imgs/car-info.png" alt="">
                  <ion-card-title>{{ 'ABOUT.vehicle-registration' | translate }}</ion-card-title>
                </ion-card-header>

                <ion-card-content>

                </ion-card-content>
              </ion-card>

            </ion-col>
            <ion-col>
              <ion-card class="info-card"  (click)="presentModal('Versicherung',vehicle)">
                <ion-card-header>
                  <img class="card-img" src="./assets/imgs/insurence.png" alt="">
                  <ion-card-title>{{ 'ABOUT.insurance-card' | translate }}</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                </ion-card-content>
              </ion-card>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card class="info-card"  (click)="presentModal('Verträge',vehicle)">
                <ion-card-header>
                  <img class="card-img" src="./assets/imgs/leasing-data.png" alt="">
                  <ion-card-title>{{ 'ABOUT.lease-data' | translate }}</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                </ion-card-content>
              </ion-card>

            </ion-col>
            <ion-col>
              <ion-card class="info-card"  (click)="presentModal('Car-Policy',vehicle)" >
                <ion-card-header>
                  <img class="card-img" src="./assets/imgs/car-policy.png" alt="">
                  <ion-card-title>{{ 'ABOUT.car-policy' | translate }}</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                </ion-card-content>
              </ion-card>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button  *ngIf="!carActive(vehicle)" (click)="setCar(vehicle)"  ion-button class="btn-full" >{{ 'ABOUT.select-car' | translate }}</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
  </ion-slides>

  <div  *ngIf="this.poolCars.length == 0">
    <div class="headline-car-wrapper"  >
      <img class="headline-car" *ngIf="vehicle.image" src="{{ vehicle.image?.path }}" alt="">
      <img class="headline-car" *ngIf="!vehicle.image" style="max-height: 10vh;" src="./assets/imgs/car-default.png" alt="">

      <div class="headline-car-text">
        <h5>{{ vehicle.brand }} {{ vehicle.model }}</h5>
        <h6> {{ vehicle.license_plate }}</h6>
      </div>
    </div>

    <div class="dasboard-wrapper">
    <ion-grid class="prozess-list" >
      <ion-row>
        <ion-col>
          <ion-card class="info-card" (click)="presentModal('Fahrzeugschein',vehicle)">
            <ion-card-header>
              <img class="card-img" src="./assets/imgs/car-info.png" alt="">
              <ion-card-title>{{ 'ABOUT.vehicle-registration' | translate }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>

            </ion-card-content>
          </ion-card>

        </ion-col>
        <ion-col>
          <ion-card class="info-card"  (click)="presentModal('Versicherung',vehicle)">
            <ion-card-header>
              <img class="card-img" src="./assets/imgs/insurence.png" alt="">
              <ion-card-title>{{ 'ABOUT.insurance-card' | translate }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="info-card"  (click)="presentModal('Verträge',vehicle)">
            <ion-card-header>
              <img class="card-img" src="./assets/imgs/leasing-data.png" alt="">
              <ion-card-title>{{ 'ABOUT.lease-data' | translate }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
            </ion-card-content>
          </ion-card>

        </ion-col>
        <ion-col>
          <ion-card class="info-card"  (click)="presentModal('Car-Policy',vehicle)" >
            <ion-card-header>
              <img class="card-img" src="./assets/imgs/car-policy.png" alt="">
              <ion-card-title>{{ 'ABOUT.car-policy' | translate }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
  </div>


</ion-content>
