page-about {

  .toolbar-background{
    background: #f8f8f8 !important;
    border: none !important;
  }
  .toolbar{
    border: none !important;
  }

  ion-header .white .toolbar-title {
    color: #000000;
    font-weight: 400;
    font-size: 2.5rem;
  }

  .headline-car-wrapper {
    text-align: center;
    height: 33vh;
    background: #f8f8f8;
    .headline-car {
      max-height: 16vh;
      position: relative;
      top: 38%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .headline-car-text{
      position: absolute;
      top: 22vh;
      text-align: center;
      width: 100%;
      font-size: 2rem;
      color: var(--color);
      font-weight: 400 ;
      h6{
        color:black;
        margin-top: auto;
        font-weight: 400 ;
      }
      h5{
        font-weight: 400 ;
      }
    }
  }

  .scroll-content {
    padding: 0 !important;
    margin-top: 8vh !important;
  }


  .info-card{
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    margin-left: 0;
    width: 100%;
    border-radius: 20px;
    ion-card-title{
      color: var(--color);
      font-size: 14px;
      margin: auto;
      text-align: center;
    }
    .card-img{
      width: auto;
      margin: auto;
      height: 40px;
      margin-top: 10px;
    }
  }

  .dasboard-wrapper {
    position: absolute;
    bottom: 0px;
    border-radius: 20px 20px 0px 0px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 52vh;
    padding-top: 5vh;
    background: white;
  }

  ion-grid {

    &.prozess-list {
      margin-top: -3vh;
      ion-col{
        width: 50%;
      }

    }
  }



  ion-item-divider{
    min-height: 0px;
    height: 0px;
  }

  .item-md {
    padding-left: 6px;
  }

  .item-block{
    height: 35px;
    min-height: 35px;
  }

  .item-ios {
    padding-left: 8px;
  }
  .item-block:last-child{
    border-bottom: none !important;
  }

  .subheadline-blue {
    font-size: 1.1rem;
  }

  .subheadline-grey {
    font-size: 1.1rem;
  }

  .label {
    margin: 7px 8px 2px 0;
  }

  .list-ios > .item-block:first-child {
    border-top: 0px solid #2e88f2;
  }


  .slide-zoom{
    height: inherit;
  }

}
