page-login {
  ion-content{

    img{
      width: 50%;
      display: block;
      margin: 0 auto;
      margin-top: 20vh;
    }

    form{
      width: 80%!important;
      margin: 50px auto!important;

      ion-item{
        background: rgba(255,255,255,0.3)!important;
        border-radius: 5px!important;
        margin:10px 0!important;

        &.input-wrapper{
          background: color($colors,lightgrey) !important;
          border-radius: 12px !important;
          padding-left:0 !important;
            .item-inner{
              ion-label{
                background: color($colors,darkgrey);
                margin: 0;
                padding: 13px;
                width: 50px;
                height: 50px;
              }
            }
        }

        &.save-login{
          background:none!important;
          padding-left: 0;
        }

        .item-inner{
          border: none!important;

          ion-label{
            color: #999;
            color:color($colors,secondary);

            ion-icon{
              font-size: 1.3em;

              span{
                font-size:18px;
                font-family: arial;
                padding-left:4px;
              }
            }
          }

          ion-input{
              ::placeholder {
                color:color($colors,secondary);
              }

          }
        }
      }

      button{
        width: 100%;
        margin-top: 50px!important;
      }
    }
  }
}

