<ion-header></ion-header>


<ion-content>
  <div class="background"></div>

  <img class="block-self-center" src="./assets/imgs/logo-text.svg" alt="">

  <form [formGroup]="todo" (ngSubmit)="logForm()">

    <ion-item class="input-wrapper">
      <ion-label>
        <ion-icon name="custom-user">
        </ion-icon>
      </ion-label>
      <ion-input [value]="registerCredentials.email" type="email" placeholder="{{ 'LOGIN.e-mail' | translate }}" [(ngModel)]="registerCredentials.email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item  class="input-wrapper">
      <ion-label>
        <ion-icon name="custom-lock">
        </ion-icon>
      </ion-label>
      <ion-input [value]="registerCredentials.password" type="password" placeholder="{{ 'LOGIN.password' | translate }}" [(ngModel)]="registerCredentials.password" formControlName="password"></ion-input>
    </ion-item>
    <a (click)="forgotPassword()" >{{ 'LOGIN.forgot-password' | translate }}</a>
    <ion-item class="save-login">
      <ion-toggle #toggleLoginSave (ionChange)="toggleLogin(toggleLoginSave)" [checked]="toggleSaveLogin" ></ion-toggle>
      <ion-label>{{ 'LOGIN.save-login' | translate }}</ion-label>
    </ion-item>

    <button  ion-button class="white" type="submit">{{ 'LOGIN.continue' | translate }}</button>
  </form>
</ion-content>
