<ion-content>
  <ion-buttons end>
    <button class="modal-close-btn" ion-button clear icon-only (click)="close()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>

  <div [innerHtml]="pageHtml" ></div>
</ion-content>
