page-static-content {

  .col-xs-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 30px;
    padding-right: 30px;

    ul{
      margin-bottom: 11px;
      margin-top: 0;
      text-align: left;
      li{
        padding:2px;
        line-height: 1.9em;
        font-size: 1.1em;
        font-family: arial;
      }
    }


    p{
      font-size: 1.1em;
      font-family: arial;
      line-height: 1.9em;
      margin: 0 0 11px;
      text-align: left;
    }
  }


}
