page-update-data-process {
  .form-wrapper{
    padding: 5%;
    padding-top: 8vh;
    .btn-full{
      width: 100%;
      margin-top: 4vh;
    }
    ion-item{
      padding-top: 7vh;
      padding-bottom: 7vh;
    }
  }
  .form{
    margin-top: 5vh;
  }


}
