<ion-header>
    <ion-navbar class="blue">
        <info-modal></info-modal>
        <ion-title> {{processName}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div class="form-wrapper">
        <h5 class="highlight-text">{{question}}</h5>
        <ion-item class="input-wrapper">
            <ion-label>
                <ion-icon name="custom-user">
                </ion-icon>
            </ion-label>
            <ion-input type="text"  [(ngModel)]="inputValue" ></ion-input>
        </ion-item>
        <button  ion-button class="btn-full white" (click)="updateData()">Senden</button>
    </div>

</ion-content>
