page-dealerinfo {

  .scroll-content {
    padding: 0 !important;
  }



  .headline-2 {
    font-size: 2.5rem;
    color: var(--color) !important;
    margin-left: 3vw;
    margin-top: 1vh;
  }

  .dasboard-wrapper {
    position: absolute;
    bottom: 0px;
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 65vh;
    background: white;

    padding: 4vh 2vh 2vh;

    .choose-category-wrapper {
      padding-left: 5%;
      padding-right: 5%;
      position: relative;
      top: -5vh;
    }

    .swiper-container-horizontal {
      overflow: visible;

      .category-slide {
        height: 65px;
        width: 65px;
        background: white;
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);

        &.active{
          -webkit-box-shadow: 0px 0px 18px 0px rgb(0, 123, 250);
          -moz-box-shadow: 0px 0px 18px 0px rgb(0, 123, 250);
          box-shadow: 0px 0px 18px 0px rgb(0, 123, 250);
        }

        .category-image {
          padding: 2rem;
        }
      }
    }

    .item-block:first-child {
      border-top: none !important;
    }

    .item-block:last-child {
      border-bottom: none !important;
    }

    .prozess-list{
      margin-top: 3vh;
    }

    .item-ios .item-button {
      height: 50px;
    }

    button{
      ion-icon{
        font-size: 3.3rem;
      }
    }

    .action-bar{

      width: 100%;
      text-align: center;
      margin-top: 5vh;
      .btn-full{
        width: 100%;
        margin-bottom: 1vh;
      }

      .btn-custom-white{
        width: 100%;
        margin-bottom: 1vh;
        border-radius: 4px;
        height: 2.8em;
        font-size: 1.6rem;
        color: #2E88F4;
        background-color: #fff;
        padding: 0 1em;
      }
    }

  }


}
