<ion-header>
    <ion-navbar class="white">
        <ion-title>{{activeProcess.name}}
            <ion-icon class="icon-right" name="md-info" item-start color="white"></ion-icon>
        </ion-title>
        <info-modal></info-modal>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <div class="headline-logo-wrapper">
        <img class="headline-logo"
             [src]="dealer?.file_banner ? dealer?.file_banner?.path : dealer?.service_provider?.file_banner?.path"
             alt="">
    </div>


    <div class="dasboard-wrapper">
        <div class="choose-category-wrapper" [style.position]="test">

        </div>

        <div class="headline-2">{{dealer.name}}</div>


        <ion-list class="prozess-list">
            <ion-item *ngIf="dealer.street && dealer.city" (click)="navigateTo(dealer.street + ' ' + dealer.house_number + ' ' + dealer.city)">

                <div  class="subheadline-grey">{{dealer.street}} {{dealer.house_number}}, {{dealer.city}}</div>

                <button ion-button clear item-end>
                    <ion-icon name="ios-navigate-outline" color="primary"></ion-icon>
                </button>
            </ion-item>

            <ion-item [hidden]="!dealer.telephone" (click)="actionCall(dealer.telephone)">
                <div class="subheadline-grey">
                    {{dealer.telephone}}
                </div>
                <button ion-button clear item-end>
                    <ion-icon name="md-call" color="primary"></ion-icon>
                </button>
            </ion-item>

            <ion-item [hidden]="!dealer.website" (click)="actionLink(dealer.website)">
                <div class="subheadline-grey">
                    {{dealer.website}}
                </div>
                <button ion-button clear item-end>
                    <ion-icon name="ios-globe-outline" color="primary"></ion-icon>
                </button>
            </ion-item>
        </ion-list>


        <div class="action-bar">

            <button *ngIf="getButtonState()==1" class="btn-custom-white" (click)="addDealer()">
              {{ 'DEALER_INFO.save-service-provider' | translate }}
            </button>

            <button *ngIf="getButtonState()==2" class="btn-custom-white red"
                    (click)="deleteDealer()">{{ 'DEALER_INFO.remove-service-provider' | translate }}
            </button>

            <button *ngIf="action.show && action.label" ion-button class="white btn-full" (click)="doAction(action)">
                {{ action.label }}
            </button>

        </div>

    </div>

</ion-content>
