<ion-tabs #tabs>
  <ion-tab [root]="tab1Root" tabTitle="" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="" tabIcon="md-car"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="md-card"></ion-tab>
  <ion-tab [root]="tab4Root" [tabBadge]="this.global.newNotification > 0 ? this.global.newNotification : ''" tabTitle="" tabIcon="md-notifications"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="" tabIcon="md-more"></ion-tab>
</ion-tabs>