dc-loader {
  background: rgba(255,255,255,.6);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10;
  pointer-events: none;
  transition: 1s linear all;
  .animation-wrapper {
    transition: 1s linear all;

    svg{
      position: absolute;
      left:15%;
      top:20%;
      width: 100%;
    }
  }

}
