page-all-processes {


  ion-list {
    ion-item {
      padding-right: 16px;
      &:first-child{
        border-top:none !important;
      }
      &:last-child{
        border-bottom:none !important;
      }
      button {
        padding: 0 0.1em !important;
        font-size: 2.1rem !important;
      }
      ion-label {
        margin-top: 25px;
        margin-bottom: 25px;
        h2 {
          color: color($colors, primary);
          font-size: 2.1rem !important;
        }
      }
    }
  }

  .searchbar-input{
    background: rgba(0, 0, 0, 0.04) !important;
  }

  .ion-searchbar,.searchbar-ios{
    background: none !important;
  }
}
