
<ion-header>
  <ion-navbar class="white">
    <ion-title>
      {{ 'ALL_PROCESSES.title' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-searchbar placeholder="{{ 'ALL_PROCESSES.search-process' | translate }}" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list class="prozess-list">

    <ion-item *ngFor="let process of processList">

      <button (click)="toogleFavorite(process)" ion-button clear item-end>
        <ion-icon [name]="isFavorite(process)"></ion-icon>
      </button>

      <ion-label (click)="doAction(process)">
        <h2>{{process?.companies[0]?.pivot?.custom_name ? process?.companies[0].pivot.custom_name : process.display_name ? process.display_name : process.name }}</h2>
        <p>
          {{process.description}}
        </p>
      </ion-label>


      <button (click)="doAction(process)" ion-button clear item-end>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>

    </ion-item>

  </ion-list>
</ion-content>
