<ion-content no-padding>
  <ion-buttons end>
    <button class="modal-close-btn" ion-button clear icon-only (click)="close()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>

  <div class="wrapper">
    <h1>{{ 'CHARGE_SIMULATION.simulation' | translate }}</h1>
    <img style="width: 60vw;" role="presentation" class="o-main-link-collection__category-icon"  src="https://images.ctfassets.net/upmoejz03x66/khxAppG6xaGW6KiWsSQk8/5ab3ac50e485511cab93c265bfa49cce/icon-wallbox.svg" alt="Icon Wallbox">
    <p>{{ 'CHARGE_SIMULATION.visit' | translate }}</p>
    <p>
      <a href="http://enbw.com/elektromobilitaet">enbw.com/elektromobilitaet</a>
    </p>
    <p>{{ 'CHARGE_SIMULATION.write' | translate }}</p>
    <p>
      <a href="mailto:mobility.business@enbw.com">mobility.business@enbw.com</a>
    </p>

  </div>

</ion-content>
