<ion-header></ion-header>
<ion-content no-bounce class="no-scroll" >

  <div class="top-content">
    <button ion-button (tap)="back()" class="btn-close-game">
      <ion-icon name="ios-close" color="white" style="font-size: 40px;"></ion-icon>
    </button>
  </div>
  <div>

    <iframe  #iframe
            [style.backgroundColor]="'#ffffff'"
            [style.top]="'50%'"
            [style.height]="'100%'"
            [style.width]="'100%'"
            id="iFrame"
            [src]="bookingUrl"
            frameborder="0"
            allow="gyroscope; accelerometer; xr"
    ></iframe>

  </div>
</ion-content>
