page-booking-iframe {
  ion-spinner{
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    circle{
      fill: #fff!important;
    }
  }

  ion-header{
    display:none;
  }
  .no-scroll .scroll-content {
    overflow: hidden;
  }

  ion-content {
    text-align: center;
    overflow: hidden;

    h1{
      font-size: 18px;
      font-family: "Eveleth", "Helvetica Neue", "Roboto", sans-serif;
      color: #497377;
      margin: 0;
      text-align: center;
    }

    div {
      overflow: hidden;
      width: 100%;
      height: 100%;
      text-align: center;
      iframe {
        overflow: hidden;
        background-color: #000000;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        padding-bottom: 73px;
        padding-top: 15px;
      }
      #custom-game-wrapper{
        overflow: hidden;
        background-color: #000000;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
      }
    }
    .top-content {
      position: absolute;
      z-index: 678568657567657567;
      right: 0;
      top: 0;
      width: 7rem;
      height: 7rem;
      .button {
        //z-index: 11;
        z-index: 678568657567657564;
        padding: 0;
        margin: 10px;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        @include media-breakpoint-up(md) {
          //right: -.8rem;
        }
      }
    }
  }
}


.modal-game {
  z-index: 99999 !important;
  .modal-wrapper {
    border-radius: 0px !important;
    overflow: hidden;
  }
}
