page-profile {

  .toolbar-background{
    background: #f8f8f8 !important;
    border: none !important;
  }
  .toolbar{
    border: none !important;
  }

  ion-header .white .toolbar-title {
    color: #000000;
    font-weight: 400;
    font-size: 2.5rem;
  }

  .subheadline-grey {
    font-size: 1rem;
    color: #828282;
  }

  .subheadline-blue {
    font-size: 1rem;
    color: #0C223D;
    text-align: right;
  }
}
