<ion-header>
  <ion-navbar>
    <ion-title>{{ 'PROFILE.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card class="card-animation">
    <ion-card-header >
      <label class="headline-2">{{ 'PROFILE.login-details' | translate }}</label>
    </ion-card-header>
    <ion-card-content >
      <ion-list>
        <ion-item>
          <ion-label class="subheadline-grey">{{ 'PROFILE.e-mail' | translate }}</ion-label>
          <ion-label class="subheadline-blue">{{ user.email }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="subheadline-grey">{{ 'PROFILE.password' | translate }}</ion-label>
          <ion-label class="subheadline-blue">*************</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-animation">
    <ion-card-header >
      <label class="headline-2">{{ 'PROFILE.master-data' | translate }}</label>
    </ion-card-header>
    <ion-card-content >
      <ion-list>
        <ion-item>
          <ion-label class="subheadline-grey">{{ 'PROFILE.company' | translate }}</ion-label>
          <ion-label class="subheadline-blue">{{ vehicle.company.name }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="subheadline-grey">{{ 'PROFILE.drivers-license-nr' | translate }}</ion-label>
          <ion-label class="subheadline-blue">{{ vehicle.driver.drivers_license_number }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="subheadline-grey">{{ 'PROFILE.first-name' | translate }}</ion-label>
          <ion-label class="subheadline-blue">{{ vehicle.driver.first_name }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="subheadline-grey">{{ 'PROFILE.last-name' | translate }}</ion-label>
          <ion-label class="subheadline-blue">{{ vehicle.driver.last_name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
