.back-button {
  //margin-bottom: 36px;
  margin-top: 5px;

  ion-icon {
    width: 18px;
    height: 18px;
  }
}

ion-icon {
  width: auto !important;
  height: auto !important;

  &[name="ios-information-circle-outline"] {
    //width: 18px;
    //height: 18px;
  }
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background: none;
}

info-modal button {
  padding: 0 1em !important;
}

.list-ios .item-block .item-inner {
  border-bottom: 0.55px solid #c8c7cccc !important;
}

.tabbar {
  border-top: none !important;
  height: 9vh !important;
  border-radius: 20px 20px 0 0;
}

.toolbar {
  height: 8vh !important;
}

ion-header {
  .toolbar-title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    white-space: normal;

    &.toolbar-title-ios {
      margin-bottom: 0;
    }

    .icon {
      font-size: 2.4rem;
      position: absolute;
      right: 4vw;
    }
  }

  .white {

    .toolbar-background {
      border-color: #f8f8f8;
      background: white;
    }

    .toolbar-title {
      color: #000000;
    }

  }
  .blue {
    .toolbar-background {
     // background: color($colors, primary) !important;
    }
    .back-button {
      //color: white !important;
    }
    .toolbar-title {
      //color: white !important;
    }
    button {
     // color: white !important;
    }
  }

  .toolbar-ios {
    padding-top: 0;
  }

}

.background-secondary {
  background: color($colors, secondary) !important;
}

.segment-button.segment-activated {
  color: #fff !important;
  background-color: var(--color) !important;
  opacity: 1;
  -webkit-transition: 100ms all linear;
  transition: 100ms all linear;

}

.segment-button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 0;
  height: 3.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color) !important;
  font-size: 1.3rem;
  line-height: 3rem;
  color: #2e88f2 !important;
  background-color: transparent;
}

.button-outline {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color) !important;
  color: var(--color) !important;
  background-color: transparent;
  border-radius: 10px;

  &.red {
    border-color: red !important;
  }
}

.back-button {
  /*margin-bottom: 46px; */
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .modal-close-btn {
    margin-top: 3vh !important;
  }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .modal-close-btn {
    margin-top: 3vh !important;
  }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .modal-close-btn {
    margin-top: 3vh !important;
  }
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

:root {
  --color: #007bfa;
}

ion-label {
  h2 {
    color: var(--color) !important;
  }
}

button {
  &ion-button {
    background-color: var(--color) !important;
  }
  &.button-default {
    background-color: var(--color) !important;
  }
  &[icon-only] {
    color: var(--color) !important;
  }
  &[item-end] {
    color: var(--color) !important;
  }
  &[icon-start] {
    color: var(--color) !important;
  }
  &.btn-custom-white{
    color: var(--color) !important;
    border:1px solid var(--color) !important;

    &.red{
      color: red !important;
      //border:1px solid red !important;
    }
  }
}

.category-slide {
  &.active {
    background: #0d223d99;
  }
}

.tab-button {
  &[aria-selected="true"] {
    ion-icon {
      color: var(--color) !important;
    }
  }
}

ion-navbar {
  &.blue {
    .toolbar-background {
   //   background-color: var(--color) !important;
    }
  }
}

ion-badge {
  background-color: var(--color) !important;
}

ion-segment-button {
  &.segment-button {
    color: var(--color) !important;
    border-color: var(--color) !important;
    &.segment-activated {
      background-color: var(--color) !important;
    }
  }
}

button {
  &.alert-button {
    color: var(--color) !important;
  }
}

.back-button-ios {
  color: var(--color) !important;
}

.icon-ios-primary {
  color: var(--color) !important;
}

.icon-md-primary {
  color: var(--color) !important;
}

.category-slide {
  position: relative;
  img{
    visibility: hidden;
  }
  svg {
    height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    path {
      fill: var(--color);
    }
  }
  &.active {
    svg {
      path {
        fill: #fff !important;
      }
    }
  }
}

.toggle {
  &.toggle-checked {
    .toggle-icon {
      background-color: var(--color) !important;
    }
  }
}

.picker-toolbar {
  button {
    color: var(--color) !important;
  }
}

ion-chip {
  &.chip {
    button {

      color: var(--color) !important;
    }
  }
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
  border-bottom: none;
}

ion-title{
 // padding: 0 50px 1px !important;
}

ion-header{
  ion-navbar{
   // box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    &.transparent{
      box-shadow: none;
    }
    .toolbar-background{
      border: none;
     // border-style: unset !important;
      background: #FFFFFF;
    }
  }
}

.loader-wrapper{
  width: 100%;
  height: 100vh;
  background: #ffffffd1;
  text-align: center;
  .loader{
    top:50%
  }
}
