ion-icon {
  &[name*="custom-user"] {
    background-image: url(../assets/icon/User.svg);
    height: 100%;
    width: 100%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &[name*="custom-lock"] {
    background-image: url(../assets/icon/Lock.svg);
    height: 100%;
    width: 100%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

