ion-app.md{
  font-family: Verdana, "Helvetica Neue", sans-serif;
}


.headline-2{
  font-size: 2rem;
  color: var(--color) !important;
}

.subheadline-grey{
  font-size: 1.5rem;
  color: color($colors,light-grey);
}


.subheadline-blue{
  font-size: 1.5rem;
  color: color($colors,secondary);
  text-align: right;
}

.highlight-text{
  margin-bottom: 10px;
  color: #000000;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
}
