page-maplist {

  .text-input-ios {
    padding: 4px;
  }

  #map_canvas {
    width: 100%;
    height: 40vh;
    position: relative;
    opacity: 0;
    transition: opacity 150ms ease-in;
    background-color: transparent;

    &.visible {
      opacity: 1;
    }

    button {
      position: absolute;
      z-index: 100;
      right: 5px;
      bottom: 60px;
      font-size: 2.2rem;
    }
  }

  .map-input {
    position: absolute;
    top: 10px;
    z-index: 99;
    background: white;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
  }

  .action-list-icon {
  }

  .scroll-content {
    padding: 0 !important;
  }

  .headline-logo-wrapper {
    max-width: 500px;
    text-align: center;
    margin: 3.5rem auto;
    .headline-logo {
      width: 60%;
    }
  }

  .dasboard-wrapper {
    position: absolute;
    bottom: 0px;
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50vh;
    background: white;
    padding-top: 15px;

    .choose-category-wrapper {
      padding-left: 5%;
      padding-right: 5%;
      position: relative;
      top: -5vh;
    }

    .button-charge-close-detail {
      position: absolute;
      top: 0;
      right: 9px;
      z-index: 10;

      ion-icon {
        width: auto;
      }
    }

    ion-list {
      ion-item {
        button {
          font-size: 2.4rem !important;
        }
        ion-label {
          h2 {
            color: color($colors, primary);
            font-size: 1.6rem !important;
          }
        }
      }
    }

  }

  .prozess-list{
    &.detail{
      ion-item{
        .item-inner{
          border:none!important;
        }
      }
    }
  }

  .category-slide {
    height: 80px;
    width: 80px;
    background: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);

    .category-image {
      padding: 2.2rem;
    }
  }

  .swiper-container-horizontal {
    overflow: visible;
  }

  .label-md {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #0087fb;
    background-color: transparent;
    margin-top: 5px;
  }

  .toolbar-title-md {
    margin-right: 26%;
  }

  .item-block:first-child {
    border-top: none !important;
  }

  .empty-list-message {
    padding: 10px;
    color: #353535;
    text-align: center;
  }

  .drag-div-wrapper {
    width: 100%;
    text-align: center;
    height: 40px;
    position: relative;
    top: -15px;
    .drag-divider {
      top: 5px;
      border-radius: 10px;
      position: relative;
      background: rgba(0, 0, 0, 0.5);
      height: 3px;
      width: 20vw;
      margin: auto;
    }
  }

}


