<ion-header>
    <ion-navbar class="white">
        <ion-title>
          {{ 'MAPLIST.title' | translate }}
        </ion-title>
        <info-modal *ngIf="showHelp"></info-modal>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="showSpinner" class="loader-wrapper" ion-fixed>
       <ion-spinner class="loader"></ion-spinner>
    </div>

    <div id="map_canvas" #map></div>

  <form (ngSubmit)="searchDealers()">
    <ion-searchbar class="map-input"
                   debounce="600"
                   [(ngModel)]="searchField"
                   [ngModelOptions]="{standalone: true}"
                   [showCancelButton]="false"
                   (ionCancel)="onCancel($event)"
                   placeholder="PLZ/Ort">
    </ion-searchbar>
  </form>

    <!--<ion-input (keyup.enter)="searchDealers()" [(ngModel)]="searchField" class="map-input" type="text" placeholder="PLZ, Ort" name="search">-->
    <!--</ion-input>-->

    <!--<button [style.zIndex]="'100'" ion-button icon-only clear (click)="locateMap()">-->
    <!--<ion-icon name="locate"></ion-icon>-->
    <!--</button>-->

    <div id="container-drag-element" class="dasboard-wrapper">

        <div id="container-drag-element-trigger" class="drag-div-wrapper" style="display:none">
            <div class="drag-divider"></div>
        </div>

        <button class="button-charge-close-detail" [hidden]="!itemDetail" ion-button icon-only clear
                (click)="closeDetail()">
            <ion-icon name="md-close"></ion-icon>
        </button>

        <div class="empty-list-message" [hidden]="dealers?.length > 0  || itemDetail">
          {{ 'MAPLIST.move-map-section' | translate }}
        </div>

        <ion-list class="prozess-list" *ngIf="!itemDetail">
            <ion-item *ngFor="let dealer of dealers" (click)="action(dealer)">
                <div>
                    <h2>{{dealer.name}}</h2>
                    <p>
                        {{dealer.street}} {{dealer.house_number ? dealer.house_number + ',' : '' }} {{dealer.city}}
                    </p>
                    <p>
                        {{ dealer.distance ? (dealer.distance | round : 'km') : '' }}
                    </p>
                </div>

                <button [hidden]="!dealer.telephone || filter" (click)="actionCall(dealer.telephone);" ion-button clear
                        item-end>
                    <ion-icon class="action-list-icon" name="md-call" color="primary"></ion-icon>
                </button>

                <button ion-button clear item-end>
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                </button>

            </ion-item>
        </ion-list>

        <ion-list no-lines no-border class="prozess-list detail" *ngIf="itemDetail">
            <ion-item style="border:none;" no-lines no-border (click)="action(itemDetail)" *ngIf="itemDetail.street">
                <h2>{{ itemDetail.name }}</h2>
                <p style="padding-top:2px;" class="subtitle">
                    {{ itemDetail.street }}{{itemDetail.postal_code ? (', ' + itemDetail.postal_code) : ''  }}
                </p>
                <p>{{ itemDetail.city}}{{itemDetail.country ? (', ' + itemDetail.country) : ''  }}</p>
                <p>{{ itemDetail.distance ? (itemDetail.distance | round : 'km') : '' }}</p>
                <button ion-button clear item-end>
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                </button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
