page-home {

  ion-header {
    ion-navbar {
      .toolbar-title {
        &.toolbar-title-ios {
          margin-bottom: -20px !important;
        }
      }
    }
  }

  .scroll-content {
    padding: 0 !important;
    margin-top: 0 !important;
    overflow: hidden;
  }

  .toolbar-ios ion-title {
    padding: 0 73px 28px;
  }

  .headline-logo-wrapper {
    max-width: 500px;
    text-align: center;
    margin: 3.5rem auto;
    .headline-logo {
      width: 60%;
      position: relative;
      top: 38%;
    }
  }

  .headline-car-wrapper {
    text-align: center;
    height: 70vh;
    background: #FFFFFF;
    .headline-car {
      max-height: 16vh;
      position: relative;
      top: 38%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .category-slide {
    margin: 0 auto;
    height: 65px;
    width: 65px;
    background: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);


    &.active {
      background:  var(--color) ;

      img {
        filter: brightness(0) invert(1);
      }
    }

    .category-image {
      &:nth-of-type(2) {
        padding: 1.2rem !important;
      }
    }
  }


  .choose-category-wrapper {
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 21vh;
    width: 100%;
    z-index: 90;
  }

  .dasboard-wrapper {
    background: white;
    position: absolute;
    bottom: 0px;
    border-radius: 20px 20px 0px 0px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: calc(350px + (80vh - 616px));


    ion-list {

      &.prozess-list {
        overflow: scroll;
        height: 50vh;
        padding-bottom: 70px;
        ion-item {
          ion-label {
            white-space: normal;
          }
        }
      }

      ion-item {
        @include fadeInDown();
        padding-right: 16px;
        &:first-child {
          border-top: none !important;
        }
        &:last-child {
          border-bottom: none !important;
        }
        button {
          font-size: 2.4rem !important;
        }
        ion-label {
          margin-top: 25px;
          margin-bottom: 25px;
          h2 {
            color: color($colors, primary);
            font-size: 2.3rem !important;
          }
        }
      }
    }
  }

  .dasboard-wrapper-big {
    height: calc(350px + (71vh - 616px));
  }

  .toolbar-background{
    background: transparent !important;
    border: none !important;
  }
  ion-header .white .toolbar-title {
    color: #000000;
    font-weight: 400;
    font-size: 2.5rem;
  }

  .searchbar {
    padding: 0 8px;
    min-height: 44px;
    border-top: none;
    border-bottom: none;
    background: none;
    margin-bottom: 2vh;
    .searchbar-input {
      color: #0d223d;
      background-color: var(--color) !important;
    }
  }

  .searchbar-input-container {
    position: relative;
    display: block;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 100%;
    border: solid 1px #0d223d6b;
    border-radius: 6px;
  }
  .drag-div-wrapper {
    width: 100%;
    text-align: center;
    height: 17px;
    position: relative;
    .drag-divider {
      top: 5px;
      border-radius: 10px;
      position: relative;
      background: rgba(0, 0, 0, 0.5);
      height: 3px;
      width: 20vw;
      margin: auto;
    }
  }
}


