<ion-header>
  <ion-navbar hideBackButton class="transparent">
    <ion-icon *ngIf="false" style="    padding-left: 15px;" class="icon-left" name="md-person" (click)="openProfile()" item-start
              color="black"></ion-icon>
    <ion-title>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="headline-car-wrapper" *ngIf="carImg">
    <img  *ngIf="!carImg" class="card-img" src="./assets/imgs/logo-text.png" alt="" style="height:11vh; margin-top: 6vh;">
    <img  *ngIf="carImg" class="card-img" [src]="carImg" alt="" style="height: 12vh; margin-top: 6vh;">

  </div>


  <div class="choose-category-wrapper" [style.position]="test">

    <ion-grid>
      <ion-row *ngIf="false">
        <ion-searchbar placeholder="{{ 'HOME.search-process' | translate }}" (ionInput)="getItems($event)"></ion-searchbar>
      </ion-row>
      <ion-row>
        <ion-col col-3 *ngFor="let processCategory of processCategories;" [hidden]="processCategory.hidden">
          <div class="category-slide" (tap)="changeCategory(processCategory)"
               [id]="processCategory.name === 'Favoriten' ? 'category-favorite' : ''"
               [ngClass]="activeCategory[processCategory.id] ? 'active' : ''">
            <img class="category-image"
                 [src]='processCategory.category_icon ? processCategory.category_icon.path : ""' alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>


  <div class="dasboard-wrapper"  [ngClass]="(processCategories.length > 8) ? 'dasboard-wrapper-big' : ''">
    <div class="drag-div-wrapper" id="container-drag-element-trigger" >
      <div class="drag-divider" style="display:none"></div>
    </div>

    <ion-list class="prozess-list" [style.opacity]="wait ? '0.5' : '1'">
      <ion-item [style.pointerEvents]="wait ? 'none' : ''"
                *ngFor="let process of processes" (tap)="doAction(process)">
        <h2>{{process?.companies[0]?.pivot?.custom_name ? process?.companies[0].pivot.custom_name : process.display_name ? process.display_name : process.name }}</h2>
        <p>
          {{process.description}}
        </p>
        <button ion-button clear item-end>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-item>

      <ion-item *ngIf="activeCategory[0]" (click)="openProcesses()" >
        <h2>{{ 'HOME.manage-favourites' | translate }}</h2>
        <p>
        </p>
        <button ion-button clear item-end>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-item>

    </ion-list>
  </div>

</ion-content>
