<ion-header>
  <ion-navbar class="invisible-white">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="form-wrapper">
    <div class="content" [innerHTML]="text">
    </div>


    <div class="action-bar">
      <button ion-button class="white btn-full" *ngFor="let option of outputs" (click)="chooseOption(option.process_input)" >{{option.field_value}}</button>
    </div>
  </div>

</ion-content>
