page-show-info-process{
  .content{
    margin-top: 5vh;
    font-size: 18px;
    text-align: justify;
    padding: 20px;
  }

  ion-card{
    @include fadeInDown();
    border-top: solid 4px #2E88F4;
    padding: 20px;
    ion-icon{
      font-size: 4rem;
    }
  }
  .action-bar{
    bottom: 7vh;
    position: absolute;
    width: 91%;
  }

.btn-full{
  width:100%;
}

  .form-wrapper{
    margin-top: 5vh;
  }

  .invisible-white{
    border-width:0 !important;
    border-color: transparent !important;
    .toolbar-background-ios{
      border-width:0 !important;
      border-color: transparent !important;
      background-color: #ffffff;
    }
  }

  .benefits-list {
    list-style: none;
    padding: inherit;
  }
  .benefits-list__item {
    padding: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
  }

  .benefits-list__item-image {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 16px;
  }

  .benefits-list__item-text {
    padding-top: 6px;
  }



}
