page-formprocess {
  .form-wrapper {
    padding: 20px;
  }

  .btn-full {
    width: 100%;
    margin-top: 4vh;
  }

  .get-image-wrapper {
    margin-top: 20px;
  }

  .form {
    margin-top: 5vh;
  }

  .wrapper-images {
    width: 100%;
    margin-top: 20px;
    text-align: center;

    .image-wrapper {
      width: 300px;
      position: relative;
      margin: 0 auto;

      button{
        position: absolute;
        bottom: 0;
        right: 0;
        color: #fff;
      }
    }
  }
}
