<ion-header>
    <ion-navbar class="blue">
        <info-modal></info-modal>
        <ion-title> {{ 'FORM_PROCESS.title' | translate }}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>


    <div class="form-wrapper">


        <h4>{{ 'FORM_PROCESS.image-upload' | translate }}</h4>

        <div class="get-image-wrapper">
            <button ion-button color="secondary" block (click)="getImage()">{{ 'FORM_PROCESS.open-camera' | translate }}</button>
            <button ion-button color="secondary" block (click)="pickImages()">{{ 'FORM_PROCESS.open-photos' | translate }}</button>
        </div>

        <div class="wrapper-images" *ngFor="let image of images; let i=index">

            <div class="image-wrapper">
                <img width="100%" [src]="image" alt="">
                <button (click)="removeFile(i)" ion-button clear icon-only>
                    <ion-icon name="trash"></ion-icon>
                </button>
            </div>
        </div>


        <button [hidden]="images.length === 0" ion-button class="btn-full white" (click)="uploadFile()">{{ 'FORM_PROCESS.send' | translate }}</button>

        <!--<form class="form" (ngSubmit)="pickImages()">-->

        <!--<ion-item>-->
        <!--<p>{{imageURI}}</p>-->
        <!--<button ion-button color="secondary" (click)="getImage()">{{ 'FORM_PROCESS.upload-image' | translate }}</button>-->
        <!--</ion-item>-->
        <!--<ion-item>-->
        <!--<h4>{{ 'FORM_PROCESS.preview' | translate }}</h4>-->
        <!--<img [src]="imageURI" *ngIf="imageURI" alt="Ionic File" width="300" />-->
        <!--</ion-item>-->

        <!--<button ion-button class="btn-full white" type="submit">{{ 'FORM_PROCESS.send' | translate }}</button>-->
        <!--</form>-->

    </div>


</ion-content>
