<ion-header>
    <ion-navbar class="white">
        <ion-title>

      <span *ngIf="filterModalClosed">
        {{ 'MAPLIST_ENBW.title' | translate }}
      </span>
            <span *ngIf="!filterModalClosed">
        {{ 'MAPLIST_ENBW.filter' | translate }}
      </span>

            <process-help [style.visibility]="showHelp ? 'visible' : 'hidden'" [showToast]="showHelp"
                          (closeToast)="changeHelpStatus($event)"></process-help>
        </ion-title>
        <!--<info-modal></info-modal>-->
        <button ion-button icon-only clear (click)="filterModalClosed = !filterModalClosed">
            <ion-icon name="options"></ion-icon>
        </button>

        <ion-buttons end>
            <button style="padding-right:10px;" (click)="filterModalClosed = true" [hidden]="filterModalClosed"
                    ion-button icon-only clear>
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>


    </ion-navbar>
</ion-header>


<ion-content>

    <div ion-fixed [style.zIndex]="filterModalClosed ? '-1' : '1000'">
        <div #filterModal class="filter-modal" [ngClass]="{'closed' : filterModalClosed}">
            <ion-item no-padding>
                <ion-label>
                  {{ 'MAPLIST_ENBW.mob-comp' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>{{ 'MAPLIST_ENBW.show-only' | translate }}</ion-label>
                <ion-toggle (ionChange)="changeChargeStationsMobilityPlus()"
                            [(ngModel)]="toggleChargeStationsOnlyWithMobilityPlus" disabled="false"></ion-toggle>
            </ion-item>
            <!--<ion-item>-->
            <!--<ion-label>-->
            <!--Zugangsmöglichkeiten-->
            <!--</ion-label>-->
            <!--</ion-item>-->
            <ion-item>
                <ion-label style="width:100%">{{ 'MAPLIST_ENBW.charging-station-power-min' | translate }}</ion-label>
                <ion-label style="width:100%;font-weight: bold">{{ rangeMaxKw === 0 ? 'Alle' : rangeMaxKw + ' kW' }}
                </ion-label>
                <ion-range color="orange" (ionChange)="getStations()" debounce="1000" [(ngModel)]="rangeMaxKw" min="3,7"
                           max="100" step="10" snaps="true" color="secondary"></ion-range>
            </ion-item>
            <ion-item no-padding>
                <ion-label no-padding>{{ 'MAPLIST_ENBW.extended' | translate }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>{{ 'MAPLIST_ENBW.only-open-24/7' | translate }}</ion-label>
                <ion-toggle [(ngModel)]="toggleChargeStationsAlwaysOpen" (ionChange)="getStations()"
                            disabled="false"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>{{ 'MAPLIST_ENBW.only-available' | translate }}</ion-label>
                <ion-toggle [(ngModel)]="toggleChargeStationsOnlyAvailable" (ionChange)="getStations()"
                            disabled="false"></ion-toggle>
            </ion-item>

        </div>
    </div>
    <div id="map-wrapper">
        <div id="map" #map></div>
        <button id="btn-locate" [style.zIndex]="'100'" ion-button icon-only clear (click)="locatePosition()">
            <ion-icon name="compass"></ion-icon>
        </button>
    </div>

    <ion-input (keyup.enter)="searchDealers()" [(ngModel)]="searchField" class="map-input" type="text"
               placeholder="{{ 'MAPLIST_ENBW.pc/loc' | translate }}" name="search">
    </ion-input>


    <div id="container-drag-element" class="dasboard-wrapper">
        <div id="container-drag-element-trigger" class="drag-div-wrapper">
            <div class="drag-divider"></div>
        </div>

        {{ map.zoom }}
        <div class="empty-list-message" [hidden]="stations?.length > 0 || chargeDetail">

          {{ 'MAPLIST_ENBW.no-nearby' | translate }}

        </div>

        <button class="button-charge-close-detail" [hidden]="!chargeDetail" ion-button icon-only clear
                (click)="closeDetail()">
            <ion-icon name="md-close"></ion-icon>
        </button>

        <ion-list class="prozess-list enbw c-list" *ngIf="stations?.length > 0 && !chargeDetail">

            <ion-item *ngFor="let item of stations" (click)="showStationDetails(item)" [hidden]="!item.shortAddress">
                <ion-grid>
                    <ion-row>
                        <ion-col col-6 class="address">
                            {{ item.shortAddress }}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <span class="count-charge"
                                  [ngClass]="{'green' : item.availableChargePoints > 0, 'red' : item.availableChargePoints === 0 }">{{ item.availableChargePoints }}</span>
                          {{ 'MAPLIST_ENBW.from' | translate }} {{ item.numberOfChargePoints }} <span class="count-charge"
                                                                      [ngClass]="{'green' : item.availableChargePoints > 0, 'red' : item.availableChargePoints === 0 }">{{ 'MAPLIST_ENBW.available' | translate }}</span>
                            &#8226; {{
                            item.distance ? (item.distance | round : 'km') : '' }}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6>
                            <span *ngFor="let plug of item.plugTypeNames">
                                {{ plug }}
                            </span>
                        </ion-col>
                        <ion-col col-6 text-right>
                            max. <span class="maxPower">{{ item.maxPowerInKw | round: 'kw'}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>

        <ion-list class="prozess-list enbw detail" *ngIf="chargeDetail">
            <ion-item no-lines no-border>
                <ion-grid>
                    <ion-row *ngIf="chargeDetail.address">
                        <ion-col col-8 class="address">
                            <p class="subtitle">
                                {{ chargeDetail.head }}
                            </p>
                            <p>{{ chargeDetail.address }}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-8>
                            <p>
                                <span class="count-charge"
                                      [ngClass]="{'green' : chargeDetail.chargePoints.available > 0, 'red' : chargeDetail.chargePoints.available === 0 }">{{ chargeDetail.chargePoints.available }}</span>
                              {{ 'MAPLIST_ENBW.from' | translate }} {{ chargeDetail.chargePoints.max }} <span class="count-charge"
                                                                              [ngClass]="{'green' : chargeDetail.chargePoints.available > 0, 'red' : chargeDetail.chargePoints.available === 0 }">{{ 'MAPLIST_ENBW.available' | translate }}</span>
                            </p>
                            <p>
                                <span class="subtitle" *ngFor="let plug of chargeDetail.types;let i = index">
                                    {{ plug }}
                                    <span [hidden]="i === (chargeDetail.types.length - 1)">,</span>
                                </span>
                            </p>
                        </ion-col>
                        <ion-col col-4 text-right>
                            <p>&nbsp;</p>
                            <p>{{ 'MAPLIST_ENBW.max' | translate }} <span class="maxPower">{{ chargeDetail.maxPower | round : 'kw'}}</span></p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 [style.padding]="'30px 0 40px 0'">
                            <button ion-button block (click)="loadChargeStations(chargeDetail)">{{ 'MAPLIST_ENBW.show-charging-points' | translate }}
                            </button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <p class="subtitle">{{ 'MAPLIST_ENBW.access-options' | translate }}</p>
                            <ul>
                                <li *ngFor="let item of chargeDetail.auth">
                                    <img [src]="item.img" alt=""><br>
                                    <span class="subtitle" [innerHtml]="item.title"></span>
                                </li>
                            </ul>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <p class="subtitle">{{ 'MAPLIST_ENBW.operator' | translate }}</p>
                            <p>{{ chargeDetail.operator }}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <p class="subtitle">{{ 'MAPLIST_ENBW.opening-times' | translate }}</p>
                            <p>{{ chargeDetail.openingHours }}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <p class="subtitle">{{ 'MAPLIST_ENBW.rates' | translate }}</p>
                            <ion-row class="row-tariffs" [style.border]="'none'"
                                     *ngFor="let tarif of chargeDetail.tariffs">
                                <ion-col col-3>
                                    <img [src]="tarif.img" alt="">
                                </ion-col>
                                <ion-col col-9>
                                    <p>{{ tarif.name }}</p>
                                    <p class="subtitle">{{ tarif.tariffDescription }}</p>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <p class="subtitle">{{ 'MAPLIST_ENBW.fees-references' | translate }}</p>
                        </ion-col>
                        <ion-col col-3 text-right [style.position]="'relative'">
                            <img class="info-img" [src]="chargeDetail.tariffInformation.img" alt="">
                        </ion-col>
                        <ion-col col-9>
                            <p class="subtitle">{{ chargeDetail.tariffInformation.content }}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
