page-maplist-enbw {
  .text-input-ios {
    padding: 4px;
  }

  .enbw {

    .maxPower {
      color: orange;
    }

    &.c-list {
      margin: -22px 0 32px;
      ion-item {
        .item-inner {
          border: none !important;
        }
        ion-grid {
          padding: 0;
          ion-row {
            ion-col {
              padding: 0;
              white-space: normal;
              font-size: 12px;
              line-height: 16px;

              &.address {
                font-weight: bold;
              }
              .count-charge {

                &.green {
                  color: green;
                }
                &.red {
                  color: red;
                }
              }
            }
          }
        }
      }
    }

    &.detail {
      margin-top: -35px;
      ion-item {
        .item-inner {
          border: none !important;
        }
        ion-grid {
          padding: 0;
          ion-row {
            border-bottom: 1px solid #ccc;

            &.row-tariffs {
              ion-col {
                margin: 5px 0;
              }

            }
            ion-col {
              padding: 0;
              white-space: normal;
              line-height: 16px;
              margin: 16px 0;

              ul {
                list-style: none;
                padding-left: 0;
                li {
                  display: inline;
                  list-style-type: none;
                  float: left;
                  padding-right: 20px;

                  span {
                    line-height: 10px;
                    font-size: 12px;
                    color: #808080;
                  }
                }
              }

              p {
                line-height: 18px;
                font-size: 16px;
                color: #000;

              }
              .subtitle {
                font-size: 14px;
                color: #808080;
              }
              .info-img {
                width: 40%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }

              button {
                font-size: 18px !important;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
                ion-icon {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  #map-wrapper {
    width: 100%;
    height: 40vh;
    position: relative;

    #btn-locate {
      position: absolute;
      right: -15px;
      bottom: 70px;

      ion-icon {
        width: auto;
        font-size:2.5em
      }
    }

    #map {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 150ms ease-in;
      background-color: transparent;

      &.visible {
        opacity: 1;
      }

      button {
        position: absolute;
        z-index: 100;
        right: 5px;
        bottom: 60px;
        font-size: 2.2rem;
      }
    }
  }

  .map-input {
    position: absolute;
    top: 10px;
    z-index: 99;
    background: white;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
  }

  .action-list-icon {
  }

  .scroll-content {
    padding: 0 !important;
  }

  .headline-logo-wrapper {
    max-width: 500px;
    text-align: center;
    margin: 3.5rem auto;
    .headline-logo {
      width: 60%;
    }
  }

  .dasboard-wrapper {

    ion-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.5);
    }

    .button-charge-close-detail {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;

      ion-icon {
        width: auto;
      }
    }

    position: absolute;
    bottom: 0px;
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50vh;
    background: white;
    padding-top: 15px;

    .choose-category-wrapper {
      padding-left: 5%;
      padding-right: 5%;
      position: relative;
      top: -5vh;
    }

    ion-list {
      ion-item {
        button {
          font-size: 2.4rem !important;
        }
        ion-label {
          h2 {
            color: color($colors, primary) !important;
            font-size: 1.6rem !important;
          }
        }
      }
    }

  }

  .category-slide {
    height: 80px;
    width: 80px;
    background: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);

    .category-image {
      padding: 2.2rem;
    }
  }

  .swiper-container-horizontal {
    overflow: visible;
  }

  .label-md {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #0087fb;
    background-color: transparent;
    margin-top: 5px;
  }

  .toolbar-title-md {
    margin-right: 26%;
  }

  .item-block:first-child {
    border-top: none !important;
  }

  .drag-div-wrapper{
    width: 100%;
    text-align: center;
    height: 40px;
    position: relative;
    top: -15px;
    .drag-divider{
      top: 5px;
      border-radius: 10px;
      position: relative;
      background: rgba(0, 0, 0, 0.5);
      height: 3px;
      width: 20vw;
      margin: auto;
    }
  }

  .empty-list-message{
    padding: 10px;
    color: #353535;
    text-align: center;
  }

  div[ion-fixed]{
    transition: .5s linear all;

    .filter-modal{
      height: 100vh;
      width: 100%;
      transition: .2s linear all;
      z-index: -1;
      background:#fff;    
      transform: translate(0,0);
      opacity:1;
  
      ion-item{
  
        &[no-padding]{
          background:#F5F5F5;
  
          ion-label{
            padding-left:16px;
          }
        }
  
        ion-label{
          white-space: normal;
          font-size:13px;         
          color :#808080;
        }
  
      }
  
      &.closed{
        transform: translate(0,100%)!important;
        opacity:0;
      }
    }
  
  }

  ion-toggle{
    &.toggle-checked{
      .toggle-icon{
        background-color:orange!important;
      }
    }
  }

  .range-tick-active,.range-bar-active{
    background: color($colors,orange)!important;
  }

}


