<ion-header>
  <ion-navbar>
    <ion-title> {{processName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="form-wrapper">
    <h4 class="highlight-text" >{{title}}</h4>
      <ion-card *ngFor="let option of outputs" (click)="chooseOption(option.process_input)">
        <ion-grid>
          <ion-row>

            <ion-col col-10>
              <div class="card-title">{{option.field_value}}</div>
            </ion-col>
            <ion-col col-2>
              <button ion-button clear item-end>
                <ion-icon name="ios-arrow-forward"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
  </div>

</ion-content>
