page-menu-list-process {
  ion-card{
    @include fadeInDown();
    padding: 5px;
    border-radius: 10px !important;
    margin-top: 4vh !important;
    ion-icon{
      font-size: 4rem;
    }
  }
  .card-title{
    font-size: 2rem;
    font-weight: 300;
  }
  .highlight-text{
    margin-top: 5vh !important;
    margin-bottom: 5vh;
  }
}
