page-wallet-detail {

  ion-col {
    color: #808080;
  }

  .card-code-img {
    width: 60%;
    text-align: center;
    margin: 8% auto;
  }

  #content {
    //transition: .5s linear all;

    background: white;
    z-index: 2;

    ion-item {

      &[no-padding] {
        background: #F5F5F5;

        ion-label {
          padding-left: 16px;
        }
      }

      ion-label {
        white-space: normal;
        font-size: 13px;
        color: #808080;
      }

    }

  }

  button {
    ion-icon {
      transition: 200ms linear all;
      font-size: 1.6em !important;
    }
  }

  .item-color {
    .item-inner {
      border-top: 0.55px solid #c8c7cc;
    }
  }

  ion-list {
    margin-bottom: 10px !important;
  }

  ion-icon[name="information-circle"] {
    display: none;
    position: absolute;
    right: 5%;
    color: white;
    font-size: 3.5rem;
    top: 4%;
    z-index: 999;
  }
  .active-card {
    ion-icon[name="information-circle"] {
      display: block !important;
    }
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .image-container{
    width: 100%;
    min-height: 100px;
    border: 1px dashed #c8c7cc;
    position: relative;

    span{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
  }

  .card-section-image-container{
    padding:5%;
    img{
      border: 1px dashed #c8c7cc;
    }
  }

}
