<ion-header>
    <ion-buttons end>
        <button (click)="closeModal()" [style.transform]="'rotate(-45deg)'" ion-button clear icon-only>
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
</ion-header>
<ion-content>

    <div ion-fixed>
        <dc-loader *ngIf="showSpinner"></dc-loader>
    </div>

    <div id="content">
        <div id="card-add-section">
            <ion-item no-padding [style.borderTop]="'0.55px solid #c8c7cc'">
                <ion-label>
                  {{ 'WALLET_DETAIL.scan-customer-number' | translate }}
                </ion-label>
            </ion-item>

            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        <ion-input [style.padding]="'7px'" [style.fontSize]="'16px'" placeholder="Kundennummer"
                                   name="scannumber" [(ngModel)]="scannumber" [value]="scannumber"></ion-input>
                    </ion-col>
                    <ion-col col-4 text-end>
                        <button ion-button (click)="addNewCard()">{{ 'WALLET_DETAIL.scan-code' | translate }}</button>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-item no-padding class="item-color">
                <ion-label>
                  {{ 'WALLET_DETAIL.store-name' | translate }}
                </ion-label>
            </ion-item>

            <ion-item no-padding [style.background]="'white'">
                <ion-input [style.marginLeft]="'16px'" name="cardname" [value]="cardname" [(ngModel)]="cardname"
                           placeholder="{{ 'WALLET_DETAIL.name' | translate }}"></ion-input>
            </ion-item>

            <ion-item no-padding>
                <ion-label>{{ 'WALLET_DETAIL.other' | translate }}</ion-label>
            </ion-item>

            <ion-list>
                <ion-item no-border no-lines [style.borderTop]="'1px solid #ccc'">
                    <ion-label>{{ 'WALLET_DETAIL.color' | translate }}</ion-label>
                    <ion-select [(ngModel)]="cardColor" interface="popover">
                        <ion-option value="#3498DB">{{ 'WALLET_DETAIL.blue' | translate }}</ion-option>
                        <ion-option value="#E74C3C">{{ 'WALLET_DETAIL.red' | translate }}</ion-option>
                        <ion-option value="#F1C40F">{{ 'WALLET_DETAIL.yellow' | translate }}</ion-option>
                        <ion-option value="#90EE90">{{ 'WALLET_DETAIL.green' | translate }}</ion-option>
                        <ion-option value="#E67E22">{{ 'WALLET_DETAIL.orange' | translate }}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>

            <ion-list>
                <ion-item no-border no-lines>
                    <ion-label>{{ 'WALLET_DETAIL.service-provider' | translate }}</ion-label>
                    <ion-select [(ngModel)]="selectedProviderId" multiple="false" cancelText="{{ 'WALLET_DETAIL.cancel' | translate }}"
                                okText="{{ 'WALLET_DETAIL.select' | translate }}">

                        <ion-option  *ngFor="let provider of providers;let i = index"
                                    [value]="provider.id">{{ provider.name }}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>

            <ion-list>
                <ion-item no-border no-lines>
                    <ion-label>{{ 'WALLET_DETAIL.code-type' | translate }}</ion-label>
                    <ion-select [(ngModel)]="scanResult.format" interface="popover">
                        <ion-option value="QR_CODE">QR Code</ion-option>
                        <ion-option value="EAN_8">EAN 8</ion-option>
                        <ion-option value="EAN_13">EAN 13</ion-option>
                        <ion-option value="CODE_39">Code 39</ion-option>
                        <ion-option value="CODE_93">Code 93</ion-option>
                        <ion-option value="MSI">MSI</ion-option>
                        <ion-option value="UPC_A">UPC_A</ion-option>
                        <ion-option value="UPC_E">UPC_E</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>


            <ion-list no-border no-margin no-lines>
                <ion-item no-border no-lines style="border:none!important">
                    <ion-label>{{ 'WALLET_DETAIL.pictures' | translate }}</ion-label>
                </ion-item>
            </ion-list>

            <ion-grid no-border no-lines>

                <ion-row>

                    <ion-col col-6>
                        <div class="image-container" (tap)="getImage(true)">
                            <img *ngIf="images[0]" width="100%" [src]="images[0]" alt="">
                            <span *ngIf="!images[0]">{{ 'WALLET_DETAIL.front' | translate }}</span>
                        </div>
                    </ion-col>

                    <ion-col col-6>
                        <div class="image-container" (tap)="getImage(false)">
                            <img *ngIf="images[1]" width="100%" [src]="images[1]" alt="">
                            <span *ngIf="!images[1]">{{ 'WALLET_DETAIL.back' | translate }}</span>
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>

            <button [style.borderRadius]="'unset'" ion-button block (click)="cardSave()">{{ 'WALLET_DETAIL.save' | translate }}</button>

        </div>
    </div>


</ion-content>
