page-notifications {

  .toolbar-background{
    background: #f8f8f8 !important;
    border: none !important;
  }
  .toolbar{
    border: none !important;
  }

  ion-header .white .toolbar-title {
    color: #000000;
    font-weight: 400;
    font-size: 2.5rem;
  }


  ion-item-sliding{
    margin-top:15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
  }

  ion-card, ion-item {
    border-radius: 2px !important;
    font-size: 1.4rem !important;
    background: #fff !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
    ion-icon {
      font-size: 4rem !important;
    }

    ion-label {
      white-space: unset;
    }
  }
  .card-title {
    font-size: 2rem;
    font-weight: 300;
  }

  .card-message {
    margin-top: 5px;
  }

  ion-icon[aria-label="calendar"]{
      animation-name: bounceIn;
      animation-duration: 300ms;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-delay: 500ms;
      animation-iteration-count: 5;
  }

  @keyframes bounceIn{
    0%{
      transform: scale(1) rotate(0);
    }
    25%{
      transform: scale(1) rotate(-20deg);
    }
    50%{
      transform: scale(1) rotate(0);
    }
    75%{
      transform: scale(1) rotate(20deg);
    }
    100%{
      transform: scale(1) rotate(0);
    }
  }
}
