<ion-header>
    <ion-navbar class="white transparent">
        <ion-title>
          {{ 'NOTIFICATIONS.title' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-segment [(ngModel)]="notification_status" color="secondary">
        <ion-segment-button value="new">
          {{ 'NOTIFICATIONS.new' | translate }}
        </ion-segment-button>
        <ion-segment-button value="read">
          {{ 'NOTIFICATIONS.read' | translate }}
        </ion-segment-button>
    </ion-segment>

    <div [hidden]="allNotifications" class="error-wrapper">
      {{ 'NOTIFICATIONS.no-notification' | translate }}
    </div>

    <button clear (click)="makeAllAsRead()" *ngIf="notification_status === 'new' && notifcation_new.length > 1" ion-button icon-start>
        <ion-icon name="ios-book"></ion-icon>
      {{ 'NOTIFICATIONS.mark-all-read' | translate }}
    </button>

    <button clear (click)="makeAllAsUnRead()" *ngIf="notification_status === 'read' && notifcation_read.length > 1" ion-button icon-start>
        <ion-icon name="ios-book"></ion-icon>
      {{ 'NOTIFICATIONS.mark-all-unread' | translate }}
    </button>


    <ion-list *ngIf="notification_status === 'new'">
        <ion-item-sliding *ngFor="let notification of notifcation_new" no-lines>
            <ion-item [style.borderTop]="'4px solid ' + notification.color" (click)="handleNotification(notification)">
                <ion-grid>
                    <ion-row>
                        <ion-col col-2 no-lines no-padding no-border>
                            <ion-icon class="icon-right" [name]="(notification.category_id === 0 || notification.category_id === 1) ? 'calendar' : 'clock'" item-start color="primary"></ion-icon>
                        </ion-col>
                        <ion-col col-10>
                            <div class="card-title">{{notification.title}}</div>
                            <div class="card-message">{{notification.message}}</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-item>
            <ion-item-options side="right" >
                <button ion-button (click)="markeAsRead(notification)">
                    <!--<ion-icon name="ios-book"></ion-icon>-->
                    <span>{{ 'NOTIFICATIONS.mark-as-read' | translate }}</span>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-list *ngIf="notification_status === 'read'">
        <ion-item-sliding *ngFor="let notification of notifcation_read" no-lines>
            <ion-item [style.borderTop]="'4px solid ' + notification.color" (click)="handleNotification(notification)">

                <ion-grid>
                    <ion-row>
                        <ion-col col-2 no-lines no-padding no-border>
                            <ion-icon class="icon-right" name="clock" item-start color="primary"></ion-icon>
                        </ion-col>
                        <ion-col col-10>
                            <div class="card-title">{{notification.title}}</div>
                            <div class="card-message">{{notification.message}}</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-item>
            <ion-item-options side="right" >
                <button ion-button (click)="markeAsUnRead(notification)">
                    <!--<ion-icon name="ios-book"></ion-icon>-->
                    <span>{{ 'NOTIFICATIONS.mark-as-unread' | translate }}</span>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

</ion-content>
