<ion-content>
    <div class="animation-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 533.17 404">
            <defs>
                <style>
                    .cls-3 {
                        fill: #0c223d;
                    }

                    .cls-4 {
                        fill: #2e88f4;
                    }
                    #D{
                    @-webkit-animation-name: moveD;
                    @-webkit-animation-duration: 3s;
                        animation-name: moveD;
                        animation-duration: 3s;
                        animation-iteration-count:infinite

                    }
                    @keyframes moveD {

                        10% {
                            transform: translateX(-71.83px);
                        }
                        35% {
                            transform: translateX(100px);
                        }
                        65% {
                            transform: translateX(100px);
                        }
                        90% {
                            transform: translateX(-71.83px);
                        }
                    }
                    #C{

                    @-webkit-animation-name: moveC;
                    @-webkit-animation-duration: 3s;
                        animation-name: moveC;
                        animation-duration: 3s;
                        animation-iteration-count:infinite

                    }
                    @keyframes moveC {

                        10% {
                            transform: translateX(-71.83px);
                        }
                        35% {
                            transform: translateX(-145px);
                        }
                        65% {
                            transform: translateX(-145px);
                        }
                        90% {
                            transform: translateX(-71.83px);
                        }
                    }
                    .normalLetter{

                    @-webkit-animation-name: fadeOut;
                    @-webkit-animation-duration: 3s;
                        animation-name: fadeOut;
                        animation-duration: 3s;
                        animation-iteration-count:infinite

                    }
                    @keyframes fadeOut {

                        10% {
                            opacity: 1;
                        }
                        35% {
                            opacity: 0;
                        }
                        65% {
                            opacity: 0;
                        }
                        90% {
                            opacity: 1;
                        }
                    }
                </style>
            </defs>
            <title>181024_driverscare_logo_RZ</title>
            <g id="Logo">
                <path class="cls-4 normalLetter"
                      d="M123.19,104.3A18.66,18.66,0,0,0,115.5,106a9.7,9.7,0,0,0-4.87,4.76v22.37h-9.46v-37h8.68V104a17.21,17.21,0,0,1,5-6.14,10.52,10.52,0,0,1,6.46-2.33q.78,0,1.16,0a7.23,7.23,0,0,1,.74.11Z"
                      transform="translate(-71.83 0)"/>
                <path class="cls-4 normalLetter" d="M129.59,133.09H139v-37h-9.46Zm0-42.13H139V81.58h-9.46Z" transform="translate(-71.83 0)"/>
                <polygon class="cls-4 normalLetter"
                         points="85.42 133.09 71.8 96.11 81.54 96.11 90.92 125.4 100.38 96.11 109.27 96.11 95.65 133.09 85.42 133.09"/>
                <path class="cls-4 normalLetter"
                      d="M212.58,111.5a9.84,9.84,0,0,0-3.07-6.67,9.63,9.63,0,0,0-13.09,0,9.7,9.7,0,0,0-2.08,2.89,10.17,10.17,0,0,0-1,3.74ZM203,133.8a20.54,20.54,0,0,1-8-1.52,18.15,18.15,0,0,1-10.06-10.2,19.45,19.45,0,0,1-1.38-7.27,20.58,20.58,0,0,1,1.34-7.44,18.15,18.15,0,0,1,3.88-6.14A18.54,18.54,0,0,1,194.9,97,20.59,20.59,0,0,1,203,95.48,20.07,20.07,0,0,1,211.13,97a18.63,18.63,0,0,1,6.07,4.16,17.72,17.72,0,0,1,3.81,6.07,20.24,20.24,0,0,1,1.31,7.2c0,.61,0,1.2,0,1.76a7.35,7.35,0,0,1-.18,1.41H193.52a11,11,0,0,0,1.06,3.88,9.5,9.5,0,0,0,5.22,4.73,10,10,0,0,0,3.53.64,10.91,10.91,0,0,0,5.33-1.38,7.29,7.29,0,0,0,3.42-3.63l8.12,2.26a16.51,16.51,0,0,1-6.53,7A20.23,20.23,0,0,1,203,133.8"
                      transform="translate(-71.83 0)"/>
                <path class="cls-4 normalLetter"
                      d="M250.12,104.3a18.66,18.66,0,0,0-7.69,1.66,9.7,9.7,0,0,0-4.87,4.76v22.37H228.1v-37h8.68V104a17.21,17.21,0,0,1,5-6.14,10.52,10.52,0,0,1,6.46-2.33q.78,0,1.16,0a7.25,7.25,0,0,1,.74.11Z"
                      transform="translate(-71.83 0)"/>
                <path class="cls-4 normalLetter"
                      d="M269.88,133.8a32.74,32.74,0,0,1-4.69-.35,39.94,39.94,0,0,1-4.76-1,33,33,0,0,1-4.45-1.55,21.59,21.59,0,0,1-3.74-2l3.81-6.42Q263.1,127,269.66,127a8.76,8.76,0,0,0,4.66-1.06,3.38,3.38,0,0,0,1.69-3,3.1,3.1,0,0,0-2-2.93,37.9,37.9,0,0,0-6.74-2.08,56.2,56.2,0,0,1-6.14-1.77A15,15,0,0,1,257,114a7.3,7.3,0,0,1-2.26-2.75,8.79,8.79,0,0,1-.71-3.67,11,11,0,0,1,4.27-8.93,14.53,14.53,0,0,1,4.73-2.43,19.69,19.69,0,0,1,5.89-.85,26.08,26.08,0,0,1,7.87,1.23,31.77,31.77,0,0,1,7.3,3.35l-3.88,5.86a25.75,25.75,0,0,0-5.86-2.86,18,18,0,0,0-5.5-.88,8.49,8.49,0,0,0-4.27,1,3.38,3.38,0,0,0-1.73,3.18,2.87,2.87,0,0,0,1.66,2.75,31.18,31.18,0,0,0,5.89,1.9q4,1,6.74,2a19,19,0,0,1,4.59,2.26,7.85,7.85,0,0,1,2.61,2.93,9,9,0,0,1,.81,4A10.73,10.73,0,0,1,284.1,127a10.61,10.61,0,0,1-3.07,3.71,14.22,14.22,0,0,1-4.83,2.33,23.12,23.12,0,0,1-6.32.81"
                      transform="translate(-71.83 0)"/>
                <path class="cls-3 normalLetter"
                      d="M339.91,126.88a12.32,12.32,0,0,0,4.55-.85,8.26,8.26,0,0,0,3.35-2.26,3.4,3.4,0,0,0,1.55-2.68v-4.23a23.1,23.1,0,0,0-3.67-1,19.81,19.81,0,0,0-3.81-.39,10.11,10.11,0,0,0-6,1.66,5,5,0,0,0-2.33,4.2,5,5,0,0,0,1.83,4,6.66,6.66,0,0,0,4.52,1.59m-2.68,6.92a14,14,0,0,1-5-.88,12,12,0,0,1-4-2.47,11.5,11.5,0,0,1-2.65-3.7,11.23,11.23,0,0,1-1-4.66,10.26,10.26,0,0,1,1.17-4.83,11.08,11.08,0,0,1,3.25-3.77,16.13,16.13,0,0,1,5-2.43,21.72,21.72,0,0,1,6.35-.88,27.42,27.42,0,0,1,4.83.42,19.69,19.69,0,0,1,4.2,1.2v-2.12a7.41,7.41,0,0,0-2.08-5.64q-2.08-2-6.17-2a16.34,16.34,0,0,0-5.79,1.06,26.76,26.76,0,0,0-5.79,3.1l-2.89-6A27.31,27.31,0,0,1,342,95.48q8,0,12.38,3.92t4.41,11.33v11.5a3.17,3.17,0,0,0,.56,2.12,2.74,2.74,0,0,0,2,.71v8a21.86,21.86,0,0,1-2.51.39q-1.16.11-2,.11a6.57,6.57,0,0,1-4.09-1.23,5.06,5.06,0,0,1-1.76-3.14l-.21-2a16.38,16.38,0,0,1-6,4.94,17.22,17.22,0,0,1-7.55,1.69"
                      transform="translate(-71.83 0)"/>
                <path class="cls-3 normalLetter"
                      d="M389.87,104.3a18.66,18.66,0,0,0-7.69,1.66,9.71,9.71,0,0,0-4.87,4.76v22.37h-9.46v-37h8.68V104a17.21,17.21,0,0,1,5-6.14A10.52,10.52,0,0,1,388,95.55q.78,0,1.17,0a7.24,7.24,0,0,1,.74.11Z"
                      transform="translate(-71.83 0)"/>
                <path class="cls-3 normalLetter"
                      d="M422,111.5a9.84,9.84,0,0,0-3.07-6.67,9.63,9.63,0,0,0-13.09,0,9.69,9.69,0,0,0-2.08,2.89,10.17,10.17,0,0,0-1,3.74Zm-9.6,22.3a20.54,20.54,0,0,1-8-1.52,18.14,18.14,0,0,1-10.06-10.2,19.45,19.45,0,0,1-1.38-7.27,20.58,20.58,0,0,1,1.34-7.44,18.14,18.14,0,0,1,3.88-6.14A18.54,18.54,0,0,1,404.3,97a20.59,20.59,0,0,1,8.15-1.55A20.07,20.07,0,0,1,420.53,97a18.63,18.63,0,0,1,6.07,4.16,17.72,17.72,0,0,1,3.81,6.07,20.24,20.24,0,0,1,1.31,7.2c0,.61,0,1.2,0,1.76a7.3,7.3,0,0,1-.18,1.41H402.92a11,11,0,0,0,1.06,3.88,9.61,9.61,0,0,0,2.19,2.89,9.5,9.5,0,0,0,3,1.83,10,10,0,0,0,3.53.64,10.91,10.91,0,0,0,5.33-1.38,7.29,7.29,0,0,0,3.42-3.63l8.12,2.26a16.51,16.51,0,0,1-6.53,7,20.23,20.23,0,0,1-10.69,2.72"
                      transform="translate(-71.83 0)"/>
                <path class="cls-4"
                      d="M93.35,104.09v8.74a8.26,8.26,0,0,1,0,.91,2,2,0,0,1,0,.24c0,.24-.06.49-.1.73a.08.08,0,0,1,0,.06,5.79,5.79,0,0,1-.15.73,1.91,1.91,0,0,1-.06.24c-.07.25-.14.52-.23.77a14.67,14.67,0,0,1-1.24,2.73c-.14.25-.3.51-.45.75a22,22,0,0,1-2.26,3c-.13.17-.28.32-.42.47q-.43.48-.89.93l-.78.76c-.52.49-1,1-1.6,1.41a63.52,63.52,0,0,1-13.25,8.35V123.7a52.94,52.94,0,0,0,5.1-3.34c.75-.56,1.42-1.1,2-1.61q.33-.28.63-.56a6.72,6.72,0,0,0,.57-.54l0,0c.17-.17.33-.32.47-.47l.66-.71.45-.54a11.79,11.79,0,0,0,1-1.4,5.82,5.82,0,0,0,.51-1,2,2,0,0,0,.14-.63v-8.74A11.13,11.13,0,0,0,72.3,93h-.46V83h.46a21,21,0,0,1,21.05,21.05"
                      transform="translate(-71.83 0)" id="D"/>
                <path class="cls-3"
                      d="M306.36,112.83a2.06,2.06,0,0,0,.14.63,6.17,6.17,0,0,0,.51,1,12.37,12.37,0,0,0,1,1.4l.45.54.66.71c.14.15.31.31.48.48l0,0a6.93,6.93,0,0,0,.58.54c.2.19.41.37.63.56.58.51,1.26,1.05,2,1.61a55.44,55.44,0,0,0,5.1,3.34v11.2a63.57,63.57,0,0,1-13.25-8.35c-.55-.45-1.08-.93-1.6-1.42l-.78-.76c-.31-.3-.61-.61-.89-.93-.14-.15-.29-.31-.42-.48a22.26,22.26,0,0,1-2.27-3c-.15-.24-.31-.5-.45-.75a14.5,14.5,0,0,1-1.24-2.72c-.09-.26-.17-.52-.23-.77a1.93,1.93,0,0,1-.05-.24,5.89,5.89,0,0,1-.15-.73.08.08,0,0,1,0-.05c0-.24-.08-.49-.1-.73a2,2,0,0,1,0-.24,8.48,8.48,0,0,1,0-.91v-24L302.26,83h15.68V93H306.36Z"
                      transform="translate(-71.83 0)" id="C"/>
            </g>
        </svg>
    </div>
</ion-content>
