<ion-header>

    <ion-navbar>
        <ion-title>{{ 'CHARGE_STATIONS.title' | translate }}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content no-padding>

    <ion-list no-padding>
        <ion-item *ngFor="let item of charge?.original_station?.chargePoints;let i = index" no-padding (click)="goToChargeStartPage(item)">
            <ion-grid>
                <ion-row>
                    <ion-col col-3>
                        <img [src]="charge?.tariffs[i] ? charge?.tariffs[i].img :
                        (item.status === 'AVAILABLE' ? 'https://ev-web.azurewebsites.net/assets/icn_plugs_type_2.svg' : 'https://ev-web.azurewebsites.net/assets/icn_plugs_type_2_grau_schraubschlussel.svg')" alt="">
                    </ion-col>
                    <ion-col col-9>
                        <ion-row>
                            <ion-col col-6>
                                <p>{{ item.evseId }}</p>
                            </ion-col>
                            <ion-col col-6 text-right>
                                <p [style.color]="item.status === 'AVAILABLE' ? 'green' : '#ccc'">{{ item.status === 'AVAILABLE' ? 'verfügbar' : 'belegt' }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12 [style.position]="'relative'">
                                <p>{{ item.connectors[0].plugTypeName }} &#8226; max. <span [style.color]="'orange'">{{ item.connectors[0].maxPowerInKw | round: 'kw'}}</span></p>
                                <p>{{ item.connectors[0].tariffInfo.tariffDescription }}</p>
                                <button [hidden]="item.status !== 'AVAILABLE'" class="btn-arrow-right" ion-button icon-only clear>
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>

</ion-content>
