page-charge-stations {
  ion-label{
    margin: 11px 0 11px 0;
  }
  ion-grid{
    padding:0;

    ion-row{

      ion-col{
        padding: 5px 0!important;

        .btn-arrow-right{
          position: absolute;
          top:50%;
          transform:translate(0,-50%);
          right:0;

          ion-icon{
            font-size: 1.3em;
             &:before{
               color:orange;
             }
          }
        }
      }
    }
  }
}
