process-help {
  position: absolute;
  width: 100%;
  &.bg-red{
    background-color:#f70e50;
  }
  .toast-wrapper {
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    flex-flow: column;
    transition: all 0.5s ease;
    transform: translate(0, 0);

    &.slideDown {
      transform: translate(0, 0);
    }
    &.slideUp {
      transform: translate(0, -100%);
    }

    ion-row{
      ion-col{
        &.toast-text{
          padding: 2% 0;
        }
        span{
          text-transform: uppercase;
          font-size: 2rem;
          line-height: 1.6!important;
          font-weight: bold;
          margin-left: 8px;
          padding: 2% 0!important;
        }
        .btn-close{
          width: 5rem;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      color: white;
      text-align: center;
      padding: 5%;
      p {
        color: #fff;
        font-size: 1.6rem;
        line-height: 1.2;
      }
    }

  }
}

[ion-fixed] {
  width: 100%;
}