<div class="toast-wrapper" [ngClass]="{'slideDown' : showToast,'slideUp' : !showToast}">

  <ion-grid>
    <ion-row>
      <ion-col col-10 col-md-10 class="myseries-number">
        <ion-icon class="icon-right" name="ico-question" item-start color="primary"></ion-icon>
      </ion-col>

      <ion-col col-2>
        <button ion-button icon-only (tap)="f_closeToast()" class="btn-close">
          <ion-icon class="icon-right" name="close" item-start color="primary"></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <div class="content white">
    <p>{{ 'PROCESS_HELP.under' | translate }} "<a (tap)="goToTabMySeries()" class="white">{{ 'PROCESS_HELP.favourites' | translate }}</a>" {{ 'PROCESS_HELP.find-all-series' | translate }}</p>
    <p>{{ 'PROCESS_HELP.remove-series' | translate }} "<a (tap)="goToTabMySeries()" class="white">{{ 'PROCESS_HELP.favourites' | translate }}</a>"  {{ 'PROCESS_HELP.star' | translate }}</p>

    <ion-buttons text-center>
      <button ion-button item-start class="btn-no-series-list" style="transform: scale(0.8);">
        <ion-icon name="icon-series-add" class=""></ion-icon>
      </button>
    </ion-buttons>
  </div>

</div>
