page-inputprocess {


  .form-wrapper {
    margin-top: 9vh;
    margin-bottom: 4vh;
  }

  .btn-full {
    width: 100%;
    margin-top: 3vh;
    border-radius: 10px;

  }

  .get-image-wrapper {
    margin-top: 10vh;
    button{
      margin-top: 2vh;
    }
  }

  .form {
    margin-top: 5vh;
  }

  .wrapper-images {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
    .image-wrapper {
      width: 300px;
      position: relative;
      margin: 0 auto;

      button{
        position: absolute;
        bottom: 0;
        right: 0;
        color: #fff;
      }
    }
  }
}


.btn-full{
  width: 100%;
}

.btn-custom-white{
  width: 100%;
  margin-bottom: 1vh;
  border-radius: 4px;
  height: 2.8em;
  font-size: 1.6rem;
  color: #2E88F4;
  background-color: #fff;
  padding: 0 1em;
}

.radio-item{
  padding-left: 0 !important;
}

.checkbox-list {
  list-style-type: none;
}
