<ion-header>
  <ion-navbar>
    <ion-title>{{processName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="form-wrapper">
    <h4 class="highlight-text" tyle="margin-bottom: 10px; ">{{title}}</h4>

    <form>
    <div *ngIf="processStepType == 'FormInputs'" style="margin-top: 40px;">
      <div *ngFor="let option of options" style="margin-bottom: 20px;">
        <label for="{{option}}">{{option}}:</label>
        <input type="text" id="{{option}}"  [(ngModel)]="formvalues[option]" style="float: right;" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div *ngIf="processStepType == 'FormTextarea'">
      <label for="area">{{name}}:</label>
      <textarea id="area" [(ngModel)]="formvalues[name]" name="{{name}}" style="width: 100%;height: 25vh;margin-top: 5px;">
      </textarea>
    </div>


    <div *ngIf="processStepType == 'FormSelect'">

      <ul *ngIf="type == 'checkbox'" class="checkbox-list">
        <li *ngFor="let option of options">
          <input type="checkbox" [(ngModel)]="formvalues[option]" [ngModelOptions]="{standalone: true}" />
          <ion-label>  {{option}}</ion-label>
        </li>
      </ul>


      <ion-list *ngIf="type == 'radio'" radio-group [(ngModel)]="formvalues[name]" [ngModelOptions]="{standalone: true}" >
        <ion-item *ngFor="let option of options" class="radio-item">
          <ion-label>{{option}}</ion-label>
          <ion-radio value="{{option}}"></ion-radio>
        </ion-item>
      </ion-list>

    </div>

    <div *ngIf="processStepType == 'FormPictures'">
      <div *ngIf="images.length == 0" class="get-image-wrapper">
        <button ion-button outline color="secondary" block (click)="getImage()">{{label}}</button>
      </div>

      <div class="wrapper-images" *ngFor="let image of images; let i=index">
        <div class="image-wrapper">
          <img width="100%" [src]="image" alt="">
          <button (click)="removeFile(i)" ion-button clear icon-only>
            <ion-icon name="trash"></ion-icon>
          </button>
        </div>
      </div>
    </div>

    </form>
  </div>

  <button  *ngFor="let output of outputs" (click)="chooseOption(output.process_input)" ion-button class="white btn-full">
    {{output.field_value}}
  </button>
<div style="height: 20vh;"></div>
</ion-content>
