
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CHARGE_START.title' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="head">{{ charger?.evseId }}</div>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-2 text-center>
          <img src="./assets/imgs/info.png" alt="">
        </ion-col>
        <ion-col col-10>
          <h2>{{ 'CHARGE_START.connect' | translate }}</h2>
        </ion-col>
      </ion-row>
    </ion-grid>

    <img src="./assets/imgs/charge_car.png" alt="">
    <button (click)="loadChargeStart()" ion-button block>{{ 'CHARGE_START.start' | translate }}</button>
  </ion-card>

  <ion-grid class="grid-info">
    <ion-row>
      <ion-col col-10>
        <h3>{{ 'CHARGE_START.report-problem' | translate }}</h3>
      </ion-col>
      <ion-col col-2 text-end>
        <img src="./assets/imgs/grey_info.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <img src="./assets/imgs/orange_info.png" alt="">
      </ion-col>
      <ion-col col-10 class="info-text">{{ 'CHARGE_START.column-locked' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <img src="./assets/imgs/orange_info.png" alt="">
      </ion-col>
      <ion-col col-10 class="info-text">{{ 'CHARGE_START.references' | translate }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
