page-charge-start {

  .head {
    font-size: 12px;
    color: #808080;
    margin-bottom: 10px;
  }

  ion-card {
    margin: 0 !important;
    width: 100% !important;
    border-radius: 7px !important;

    .button {
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
    ion-col {

      h2{
        font-weight: bold!important;
        font-family: arial;
      }
      img {
        width: 75%;
      }
    }
  }

  .grid-info {
  display: none;
    margin-top:30px;

    h3 {
      color: orange;
    }
    .info-text {
      color: #808080;
      font-size: 12px;
      font-family: arial;
    }

    img {
      margin:0 auto;
      text-align: center;
      display:block;
      width: 50%;
    }

  }
}
