page-contact {

  .toolbar-background{
    background: #f8f8f8 !important;
    border: none !important;
  }
  .toolbar{
    border: none !important;
  }

  ion-header .white .toolbar-title {
    color: #000000;
    font-weight: 400;
    font-size: 2.5rem;
  }

  .lost-label{
    font-size:14px;
  }

  ion-col{
    color:#808080;
  }

  .card-animation {
    background: var(--color);
    max-height: initial;
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-left: 5%;
    height: -webkit-fill-available;
    @media only screen and (min-width: 714px) {
      width: 80%;
      margin-left: 10%;
    }
  }

  .card-code-img-wrapper{
    position: relative;
    text-align: center;
    margin: 0 auto;
    top:80%;
    display: none;
    &.smaller {
      width: 70%;

      .card-code-img {
        padding: 2% 1%;
      }
    }

    .card-code-img {
      width: 70%;
      text-align: center;
      padding: 10% 8% 5% 8%;
      margin: 5% auto;
    }
  }

  button {
    ion-icon {
      transition: 200ms linear all;
      font-size: 1.6em!important;
    }
  }

  .item-color {
    .item-inner {
      border-top: 0.55px solid #c8c7cc;
    }
  }

  ion-list {
    margin-bottom: 10px !important;
  }

  ion-icon[name="information-circle"] {
    right: 5%;
    color: var(--color);
    font-size: 3.5rem;
    z-index: 999;
  }
  .active-card {
    display: block !important;
    ion-icon[name="information-circle"] {
      display: block !important;
    }
    .card-code-img-wrapper{
      display: block;
    }
  }

  .absolute-center{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
  }

  .lost-btn{
    padding: 10px;
    background: #0e233d;
    color: white;
    display: block;
    margin-top: 4vh;
    width: 100%;
  }

  .absolute-center-x{
    position: absolute;
    bottom: 4vh;
    top: initial;
    left: 50%;
    *{
      position: relative;
      left: -50%;
    }
  }

}
