<ion-header>
    <ion-navbar class="white transparent">
        <ion-buttons end>
            <button ion-button icon-only [hidden]="activeState"
                    (click)="openAddCardForm()">
                <ion-icon  [style.transform]="modalAddNewCardClosed ? 'rotate(0)' : 'rotate(-45deg)'"
                          name="add"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end style="padding-right:10px;">
            <button ion-button icon-only [hidden]="!activeState"
                    (click)="openActiveCardDetails()">
                <ion-icon name="information-circle"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
          {{ 'WALLET.cards' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content [style.pointerEvents]="blockUserInput ? 'none' : ''">
    <div class="card-wrapper">
        <div class="card-self" *ngFor="let card of allCard">
            <ion-card *ngIf="card.service_provider?.card_image" [hidden]="activeState" [attr.id]="card.id" class="card-animation" [attr.data-lost]="card.is_lost ? 'true' : 'false'" [style.background-image]="'url('+card.service_provider?.card_image?.path + ')'" style="background-color: transparent; top: 28vh; background-repeat: no-repeat; background-size: contain;  border-radius: 7px;    box-shadow: none;overflow: initial;" >
              <ion-card-header>
                </ion-card-header>
                <ion-card-content>
                </ion-card-content>
              <div class="card-code-img-wrapper absolute-center-x" [ngClass]="{'smaller':card.code_type === 'QR_CODE'}">
                <button *ngIf="!card.is_virtual" class="btn-close lost-btn" (click)="openLostCardAlert()">{{ 'WALLET.report-as-lost' | translate }}</button>
                <img class="card-code-img" [src]='card.code_image ? card.code_image.path : ""'/>
                <span class="card-code-number">{{ card.code_number }}</span>

              </div>
            </ion-card>

          <ion-card *ngIf="!card.service_provider?.card_image" [hidden]="activeState" [attr.id]="card.id" class="card-animation" [attr.data-lost]="card.is_lost ? 'true' : 'false'" [style.background-image]="card.card_color" style=" top: 28vh; background-repeat: no-repeat; background-size: contain; height: 27.5vh;    border-radius: 7px;    box-shadow: none;overflow: initial;" >
            <ion-card-header style="color: white;">
              {{card.name}}
            </ion-card-header>
            <ion-card-content style="color: white;">
              {{card.code_number}}
            </ion-card-content>
            <div class="card-code-img-wrapper" [ngClass]="{'smaller':card.code_type === 'QR_CODE'}">
              <img class="card-code-img" [src]='card.code_image ? card.code_image.path : ""'/>
              <span class="card-code-number">{{ card.code_number }}</span>
              <button *ngIf="!card.is_virtual" class="btn-close lost-btn" (click)="openLostCardAlert()">{{ 'WALLET.report-as-lost' | translate }}</button>
            </div>
          </ion-card>

        </div>
    </div>
</ion-content>
