<ion-header>
    <ion-navbar class="blue">
        <info-modal></info-modal>
        <ion-title>
          {{ 'BOOKING_HELPER.title' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>

    <div class="form-wrapper">

        <ion-grid>
            <ion-row>
                <ion-col col-8>
                    <h4>{{ 'BOOKING_HELPER.proposed-date' | translate }}</h4>
                </ion-col>
                <ion-col col-4>
                    <button [disabled]="dates.length === 3" (click)="date.open()" class="btn-new-date" clear icon-only
                            style="background-color:#f6f7f8">
                        <ion-icon name="calendar"></ion-icon>
                        <ion-icon name="add"></ion-icon>
                        <ion-item class="item-datepicker">
                            <ion-datetime #date (ionChange)="addDate(date)"
                                          pickerFormat="DD MMM YYYY,HH:mm"
                                          displayFormat="DD.MM.YYYY HH:mm"
                                          minuteValues="0,15,30,45"
                                          [min]="minDate"
                                          [max]="maxDate"
                                          [(ngModel)]="myDate"
                                          monthShortNames="Jan,Feb,Mar,Apr,Mai,Jun,Jul,Aug,Sep,Okt,Nov,Dez"
                                          monthNames="Januar,Februar,März,April,Mai,Juni,Juli,August,September,Oktober,November,Dezember">
                            </ion-datetime>
                        </ion-item>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div *ngIf="this.related_data">
            <p><i>{{ 'BOOKING_HELPER.dealer-proposed-date' | translate }}</i></p>
            <!--{{ this.related_data?.dealer_email }}-->
            <!--{{ this.related_data?.dealer_name }}-->
        </div>

        <br>
        <ion-chip *ngFor="let date of dates; let i = index">
            <ion-label>{{ date }}</ion-label>
            <button ion-button clear color="light" (click)="removeDate(i)">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-chip>

        <ion-item class="save-login">
            <ion-toggle #sendCar (ionChange)="changeSendCarValue(sendCar)" checked="true"></ion-toggle>
            <ion-label>{{ 'BOOKING_HELPER.send-car-data' | translate }}</ion-label>
        </ion-item>


        <button ion-button [style.backgroundColor]="confirmDealerMeeting ? 'green' : '#2E88F4'" (click)="bookForm()"
                [disabled]="dates.length === 0" class="btn-full white" type="submit">{{ confirmDealerMeeting ?
            'Terminvorschlag annehmen' : 'Termin anfragen'}}
        </button>


    </div>


</ion-content>
