page-bookinghelper {

  .form-wrapper {
    padding: 20px;
  }

  .btn-full {
    width: 100%;
    margin-top: 7vh;
  }

  .form {
    margin-top: 5vh;
  }

  ion-chip{
    margin:5px 5px!important;
  }

  .save-login{
    margin: 20px 0 0 0;
  }

  ion-grid{
    ion-col{

      &[col-4]{
        text-align: right;

        .btn-new-date {
          position: relative;
          padding:10px 0;
          margin:10px 0;
          ion-icon{
            font-size: 4rem;
            &[name='add']{
              font-size: 2rem;
              font-weight: bold;
              position: absolute;
              left:50%;
              top:55%;
              transform:translate(-50%,-50%);
              color:#fff;
            }
          }
          .item-datepicker {
            display: none;
            .item-inner {
              border: none !important;
            }
            .datetime-text {
              display: none;
            }
          }

        }
      }
    }
  }



}
