page-info-modal {

  ion-card {
    margin: 0 !important;
    width: 100% !important;
    margin-top: 20px !important;
  }
  .content-wrapper{
    padding: 30px;
  }
  ion-item{
    padding-left: 0 !important;
  }
}
