
<ion-content>
  <ion-buttons end>
    <button style="float:left;" class="modal-close-btn" ion-button clear icon-only (click)="share()">
      <ion-icon name="ios-share-outline"></ion-icon>
    </button>
    <button class="modal-close-btn" ion-button clear icon-only (click)="close()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>

  <div *ngIf="!kfzinfo">
    <div class="content-wrapper" [innerHtml]="processPolicy" ></div>
  </div>

  <div *ngIf="kfzinfo" [ngSwitch]="kfzinfo">
    <ion-card class="card-animation" *ngSwitchCase="'Fahrzeugschein'">
      <ion-card-header>
        <label class="headline-2">{{ 'INFO_MODAL.vehicle-registration' | translate }}</label>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
             <a href="{{this.vehicle.registration_document?.path}}" target="_blank"> <img src="{{this.vehicle.registration_document?.path}}"></a>
          </ion-item>
          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.indicator' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.license_plate }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.brand' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.brand }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.type' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.type }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.model' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.model }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.fuel-type' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.fuel_type }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.pollutant-class' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.emissions_class }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.kw/hp' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.kw_hp }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.mileage' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ mileAge | number | pointReplacer }} Km</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.first-registration' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ getDate(vehicle.first_registration) }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.vin' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.fin }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.winter-tires' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.wheel_size_winter }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.summer-tires' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.wheel_size_summer }}</ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-animation" *ngSwitchCase="'Versicherung'">
      <ion-card-header>
        <label class="headline-2">{{ 'INFO_MODAL.insurance' | translate }}</label>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <a href="{{this.vehicle.insurance_card?.path}}" target="_blank"> <img src="{{this.vehicle.insurance_card?.path}}"></a>
          </ion-item>
          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.insurance-partner' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.insurance }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.insurance-number' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.insurance_number }}</ion-label>
          </ion-item>

          <ion-item *ngIf="vehicle.partial_cover">
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.partial-cover' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ 'INFO_MODAL.deductible' | translate }} {{ vehicle.sb_partial_cover }}</ion-label>
          </ion-item>

          <ion-item *ngIf="vehicle.full_cover">
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.full-insurance' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ 'INFO_MODAL.deductible' | translate }} {{ vehicle.sb_full_cover }}</ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>

    </ion-card>

    <ion-card class="card-animation" *ngSwitchCase="'Verträge'">
      <ion-card-header *ngIf="vehicle?.is_leasing">
        <label class="headline-2">{{ 'INFO_MODAL.leasing' | translate }}</label>
      </ion-card-header>
      <ion-card-content *ngIf="vehicle?.is_leasing">
        <ion-list>
          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.leasing-partner' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.lessor.name }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.leasing-begin' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ getDate(vehicle.leasing_start) }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.leasing-end' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ getDate(vehicle.leasing_end) }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey"> {{ 'INFO_MODAL.mileage-per-year' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle?.mileage_per_year }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="subheadline-grey">{{ 'INFO_MODAL.gross-list-price' | translate }}</ion-label>
            <ion-label class="subheadline-blue">{{ vehicle.gross_list_price | number | pointReplacer }} €
            </ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>


    <ion-card class="card-animation" *ngSwitchCase="'Car-Policy'">
      <ion-card-header>
        <label class="headline-2">{{ 'INFO_MODAL.guideline-company-car' | translate }}
        </label>
      </ion-card-header>
      <ion-card-content>

        <div class="content-wrapper" [innerHtml]="vehicle.company.policy" ></div>

      </ion-card-content>
    </ion-card>


  </div>

</ion-content>
